ul {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    width: 200px;
    background-color: #d6d8db;
    border: 1px solid rgb(160, 119, 43);
  }
  
  li a {
    display: block;
    color:rgb(33, 33, 222) ;
    padding: 10px 16px;
    text-decoration: none;
  }
  
  li {
    text-align: center;
    border-bottom: white;
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  li a.active {
    background-color:rgb(188, 202, 59);
    color: rgb(234, 245, 242);
  }
  
  li a:hover:not(.active) {
    background-color: rgb(172, 155, 158);
    color: rgb(238, 222, 237);
  }